 <%- model_class = Course -%>
<div class="page-header white">
  <h3><%= @course.title %></h3>
  <h3><small class='studio-name'><%= tenant_name @course.tenant_id %></small></h3>
</div>

<dl class="dl-horizontal white">
  <dt><strong><%= model_class.human_attribute_name(:student) %>:</strong></dt>
  <dd><%= @course.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt>
  <dd><%= @course.details %></dd>
  <dt><strong><%= model_class.human_attribute_name(:student_since) %>:</strong></dt>
  <dd><%= @course.student_since %></dd>
 
</dl>
<h3>Lessons</h3>
<%= render 'lessons/list', lessons: @course.lessons %>
<br/>
<br/>
<%= link_to '< Back to Home', root_path, :class => 'btn btn-default'  %>
   <% if current_user.is_admin %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tenant_course_path(course: @course, tenant: @course.tenant_id), :class => 'btn btn-default' %>
 
        <%= link_to 'Edit course Users', users_tenant_course_path(tenant_id: @course.tenant_id, id: @course.id),
                  :class => 'btn btn-default' %>              
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tenant_course_path(@course, @course.tenant_id ),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
 <% end %>
